@tailwind base;
@tailwind components;
@tailwind utilities;

/* to change the breakpoints */
:root{
    --breakpoint-sm:700px;                  /* default breakpoints */
    --breakpoint-md:900px;
    --breakpoint-lg:1000px;
    --breakpoint-navjot:3690px;          /* extended breakpoints */

    --padding-10:100px;
    --padding-1:1px;
    --padding-c-nav:11px;           /* customised class: it is applicable to other modifications also like pt, pb, pl etc */
    --padding-navjott:10px;
    --margin-20:20px;
    --height-1:100px;
    --size-100:100px;
    --size-custom-n:1000px;
}


@layer base {
    h1 {
        font-size: 50px;        /* adding customised styling to objects */
        /* @apply text-2xl;        to apply directly the classes of tailwind css  */
    }
    h2 {
        font-size: 40px;
        /* @apply text-4xl; */
    }
    button {
        border: 1px solid black;
        padding: 3px;
        /* @apply border p-3 text-3xl; */
    }
}



@layer components{
    .btn-primary{
        @apply  bg-blue-500 rounded p-2 text-white hover:bg-blue-800;
    }
    .btn{
        @apply border border-slate-400 rounded px-5 py-1.5 hover:bg-slate-100;
    }

}